@import url('https://fonts.googleapis.com/css?family=Roboto');


.container {
  font-family: 'Roboto', monospace;
  margin: 15vh auto;
  max-width: 70vw;
  font-size: 14px;
  display: flex;
}

@media screen and (max-width: 600px) {
  .container {
    max-width: 100vw;
    flex-direction: column;
  }
}

.wrapper {
  display: flex;
  align-items: center;
  padding: .3rem;
  margin-bottom: .5rem;
  
}

.userinfo {
  margin: 0px auto;
  margin-bottom: 0px;
  z-index: 2;
}

.username {
  text-align: center;
  font-size: 1.6rem;
  width: 100%;
}

@media screen and (max-width: 600px) {
  .wrapper {
    flex-direction: column;
  }
  .userinfo {
    margin: 15px auto;
  }

}

.username__wrapper {
  display: flex;
}

.online {
  width: 8px;
  height: 8px;
  background-color: #2E7D32;
  border-radius: 50%;
  margin-top: 3px;
  margin-left: -10px;
}

.alias {
  margin: 1vw;
  color: #b0b0b0;
  font-size: .8rem;
  cursor: pointer;
}

.lastlogin {
  padding: 10px 0 5px 0;
  font-size: 0.8rem;
  text-align: right;
  color: #607d8b;
}

.username {
  text-align: center;
  font-size: 1.4rem;
  padding-right: 10px;
}

.container__left {
  width: 40%;
  max-width: 320px;
  min-width: 320px;
  margin-bottom: 25px;
  margin-right: 25px;
}

.container__right {
  width: 100%;
  min-width: 400px;
  max-width: 500px;
}

@media screen and (max-width: 600px) {
  .container__left, .container__right {
    max-width: 100vw;
    width: 100%;
  }
}

.holder {
  margin-bottom: 25px;
}
