.subheader {
  display: flex;
  padding: 10px;
}

.subheader--white {
	composes: subheader;
	color: white !important;
}
.icon {
  padding: 0px 8px 0px 3px;
  height: 25px !important;
  width: 25px !important;
}

.title {
  align-self: center;
}