.subheader {
  display: flex;
  padding: 10px;
}

.subheader--bold {
	composes: subheader;
	font-weight: bold;
}
.icon {
  padding: 0px 8px 0px 3px;
  height: 35px !important;
  width: 35px !important;
}

.title {
  align-self: center;
}