.container {
  /*margin-top: 15px;*/
}

.wrapper {
  padding: 10px;
}

.tasks {
  margin-left: 100px;
}

a {
  text-decoration: none;
}

.showMore {
  padding: 10px;
  float: right;
}

.showMore__button {
  /*float: right;*/
}

.list-item {
  background-color: white !important;
  -webkit-appearance: none !important;
  appearance: none !important;
  -moz-appearance: none !important;
}

.subheader {
  display: flex;
  padding: 10px;
}
.icon {
  padding: 0px 8px 0px 3px;
  height: 25px !important;
  width: 25px !important;
}

.title {
  align-self: center;
}