.container {
  background-color: white !important;
  border-radius: 50px;
}

.wrapper {
  /*padding: 10px;*/
}


.achievement {
  /*background-color: white;*/
  font-size: 14px !important;
}

.achievements__title-holder {
  background-color: #00b0ff !important; 
}

.achieve__img-container {
  /*height: 300px;*/
  /*width: 100%;*/
  /*display: flex;*/
  /*overflow-x: scroll;*/
  padding: 10px 15px;
}

.achieve__img {
  width: 70px;
  height: 70px;
  cursor: pointer;
  margin: 5px 15px;
  /*text-align: center;*/
  /*background-position: center;*/
}

.no-achievements {
  text-align: center;
  color: white;
  text-transform: uppercase;
  background-color: #03a9f4;
  font-size: 0.8rem;
  padding: 30px 0px 20px;
}

.no-achievements__text {
  margin-top: 10px;
}