.container {
  display: flex;
  width: 100%;
}

.wrapper {
  margin: 6rem auto;
  display: flex;
}

.tasks1 {
  max-width: 800px;
  width: 600px;
}

.right {
  margin-left: 25px;
}

.students {
  margin-top: 25px;
}

.groups {

}
